global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]

rule_files:
  - /etc/prometheus/alerts/*.yml

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: central-auth
    static_configs:
      - targets: ["auth-server:9091"]
    metrics_path: /metrics
    basic_auth:
      username: ${METRICS_BASIC_AUTH_USER}
      password: ${METRICS_BASIC_AUTH_PASSWORD}

  - job_name: django
    static_configs:
      - targets: ["myeconocoach-web:8000"]
    metrics_path: /metrics
    basic_auth:
      username: ${METRICS_BASIC_AUTH_USER}
      password: ${METRICS_BASIC_AUTH_PASSWORD}

  - job_name: locust
    static_configs:
      - targets: ["locust-exporter:9646"]
    metrics_path: /metrics
    scrape_interval: 5s

  - job_name: kafka-exporter
    static_configs:
      - targets: ["kafka-exporter:9308"]
    metrics_path: /metrics
    scrape_interval: 15s
